build/js/*
build/src
report/*
build/cpp_test/*
build/css/*
build/.temp/*
build/out/*
build/node_modules/*
~*
*~
*.pdf
*.dvi
*.aux
*.toc
*.gz
python-build/bootstrap/
build/nodeBuild/
build/node/
build/bin/node/
build/dst/
build/databases/
python-build/deps/
build/MolBioServer.js
.goutputstream-54A3YW
build/cpp/
build/pythonbuild/
python-build/_bz2.pyd
python-build/library.zip
python-build/select.pyd
python-build/unicodedata.pyd
build.old/
out/
build/java/
build/sass/
build/theme/
build/demo/
build/js - Copy/Chart.js
build/js - Copy/
examples/
python-build/build/
python-build/dst/
python-build/pythonbuild/
pythonbuild/dst/
build/bindings/
*.hx.orig
python-build/
build/sgc/
build/redis/
build/node_modules.bak/temp/node_modules/
build/node_modules.bak/
build/node.bak/
build/imageformats/
build/MultiConstruct.xlsx
build/TestMain.hx
build/TestSuite.hx
build/__init__.py
build/molbio.sqlite
build/python
build/services/ServicesLocal.json.orig
selenium-test/chromedriver.exe
build/.mtx
build/.munit
Book/MolBioDevelopment.htm
.idea/
saturn.iml
build/SaturnServer.js
build/js_test.js
package-build/base-packages/windows_x86_64/node_windows_x86_64/node_modules/
package-build/base-packages/windows_x86_64/redis_windows_x86_64/
package-build/base-packages/windows_x86_64/node_windows_x86_64/
src_qt/Launcher/build/
build/Run.js
rundebugsaturn_postgres.bat
package-build/base-packages/
src_qt/build-Saturn-Desktop_Qt_5_5_1_MSVC2013_64bit-Release/
src_qt/build-Saturn-Desktop_Qt_5_2_1_MinGW_32bit-Release/
build/public_current/static/js/ace/mode-r.js
build/public_current/static/js/ace/
build/public_current/static/js/ckeditor/
build/public_current/static/js/ext/
build/public_current/static/js/images/
src_qt/build-Saturn-Desktop_Qt_5_10_0_MSVC2017_64bit-Release/
build/qt/
src_qt/build-Saturn-Desktop_Qt_5_9_3_MSVC2015_64bit-Release/
src_qt/build-Saturn-Desktop_Qt_5_9_3_MSVC2015_64bit-Debug/
src_qt/build-Saturn-Desktop_Qt_5_10_0_MSVC2017_64bit-Debug/
src_qt/Launcher/File/filereaderplugin.exp
src_qt/build-Saturn-Desktop_Qt_5_9_3_MSVC2013_64bit-Release/.qmake.stash
runsaturn_lite.sh
scripts/AlleleHelper.hx
scripts/WyattGeneInfoParser.hx
scripts/build-scripts.hxml
test/saturn/WebServiceTest.hx
build/node.stderr
build/chemireg.js
build.7z
build/node.stdout
src/TIDDLY_WIKI.csv
node.stdout
node.stderr
build.zip
